h2 {
  color: red;
  font-size: 3.6rem;
  /* padding-left: 10rem; */
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.maa-papa-img {
  width: 30rem;
  height: 20rem;
  border-radius: 10%;
  margin-left: 16rem;
}

.header-background {
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  /* border: 5px solid; */
  /* background: url("./imgs/maa-pitaji.png"); */
  background: linear-gradient(rgba(233, 250, 3, 0.7), rgba(150, 200, 990, 0.9));
  background-size: cover;
  /* opacity: 1; */
}
