h2 {
  font-family: "dancing script";
  color: rgb(119, 0, 255);
  font-size: 2.8rem;
  /* padding-left: 10rem; */
  text-align: center;
  margin-bottom: 2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.imgs {
  display: flex;
  justify-content: space-between;
}

.maa-papa-img {
  width: 20rem;
  height: 15rem;
  border-radius: 10%;
  /* margin-left: 14rem; */
}

.bapuji {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.shivji {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.button {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.button-icon:hover,
.button-icon:active {
  background-color: rgb(160, 84, 231);
}

.button-icon {
  background-color: rgb(139, 62, 211);
  width: 8.2rem;
  height: 3rem;
  border-radius: 5rem;
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, 0.2);
  /* text-decoration: none; */
}

.button-text {
  font-size: 1.2rem;
  color: #fff;
}

.header-background {
  display: flex;
  justify-content: space-between;

  padding: 2rem;
  width: 100vw;
  height: 100vh;
  /* border: 5px solid; */
  /* background: url("./imgs/maa-pitaji.png"); */
  background: linear-gradient(rgba(233, 250, 3, 0.7), rgba(150, 200, 990, 0.9));
  background-size: cover;
  /* opacity: 1; */
}

.middle-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flower {
  width: 2rem;
  height: 2rem;
  color: rgb(235, 22, 235);
  fill: orange;
}

.flower-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rose {
  color: rgb(243, 53, 53);
  width: 2rem;
  height: 2rem;
  /* padding-top: 6rem; */
}
